@import url('https://fonts.googleapis.com/css?family=Overpass+Mono');

body{
	background-color: #552582;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
	font-family: 'Overpass Mono', monospace;
}

.profiles-row {
	margin-top: 15%;
	margin-left: 3%;
	margin-right: 3%;
}

.img-div {
	position: relative;
	margin-top: 4%;

}

.img-circle {
	position: relative;
	border-radius: 50%;
	height: 155px;
	cursor: pointer;
	top: 0;
	left: 0;
}

.github-corner-circle {
	position: absolute;
	height: 35px;
	margin-top: 45px;
	left: 40px;
}

.medium-corner-circle {
	position: absolute;
	height: 47px;
	margin-top: 45px;
	left: 120px;
}

.linkedin-img {
	position: relative;
	height: 155px;
	cursor: pointer;
	top: 0;
	left: 0;
}

.linkedin-corner {
	position: absolute;
	height: 35px;
	margin-top: 63px;
	left: 127px;
}

.message-row {
	margin-top: 15%;
	color: #FDB927;
	font-size: 1.6vw;
}