<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static "nestedcomments/css/bootstrap.min.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "nestedcomments/css/demo.css" %}">

	<!-- Library code. -->
	<script type="text/javascript" src="{% static "nestedcomments/js/jquery-2.0.2.js" %}"></script>
	<script type="text/javascript" src="{% static "nestedcomments/js/angular.js" %}"></script>
	<script type="text/javascript" src="{% static "nestedcomments/js/ui-bootstrap-tpls-1.3.3.min.js" %}"></script>
	<script type="text/javascript" src="{% static "nestedcomments/js/demoApp.js" %}"></script>
	<title>Treebirds</title>
</head>
<body ng-app="demoApp" ng-controller="demoCtrl">
	<div class="container-fluid">
		<div class="row">

		</div>
	</div>
</body>
</html>