<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static "treebirds/css/bootstrap.min.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "nestedcomments/css/demo.css" %}">

	<!-- Library code. -->
	<script type="text/javascript" src="{% static "treebirds/js/jquery-2.0.2.js" %}"></script>
	<script type="text/javascript" src="{% static "treebirds/js/angular.js" %}"></script>
	<script type="text/javascript" src="{% static "treebirds/js/ui-bootstrap-tpls-1.3.3.min.js" %}"></script>
	<script type="text/javascript" src="{% static "nestedcomments/js/demoApp.js" %}"></script>
	<title>Treebirds</title>
</head>
<body ng-app="demoApp" ng-controller="demoCtrl">
	<div class="container-fluid">
		<div class="post-comments">
			<form>
				<div class="form-group">
					<label for="comment">Your Comment</label>
					<textarea name="comment" ng-model="comment0" class="form-control" rows="3"></textarea>
				</div>
				<button type="submit" class="btn btn-default" ng-click="add_comment(0)">Send</button>
			</form>
			<div class="row">
				<div ng-repeat="comment in comments track by $index">
					<div class="media col-xs-offset-{[{comment.depth}]}">
						<div class="media-heading">wrote {[{comment.minutes}]} minutes ago</div>
						<p>{[{comment.comment}]}</p>
						<div class="comment-meta">
							<span><a role="button" ng-click="delete_comment(comment.id)">delete</a></span>
							<span>
								<a role="button" ng-click="showReplayForm = !showReplayForm" aria-expanded="false">reply</a>
							</span>
							<div ng-show="showReplayForm">
								<form>
									<div class="form-group">
										<label for="comment">Your Comment</label>
										<textarea id="comment-{[{comment.id}]}" class="form-control" rows="3"></textarea>
									</div>
									<button type="submit" class="btn btn-default" ng-click="add_nestedcomment($index, comment.id)">Send</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>